@charset "utf-8";
/* CSS Document */
body{
	font-family: "Goudy Bookletter 1911", sans-serif;
}

#logo {
    width: auto;
    height: 60px;
    margin-left: 10px;
}

.footer-logos li{
	list-style: none;
	display: inline-block;
	margin: 1% 1%;
	Width: 14%;
}

.footer-logos li img {
 	Width: 100%;
}

#About {
	background-color:  #ABABAB;
}

.bg-all{
	background-color: #C8C8C8;
}

.prof{
	width: auto;
    height: 300px;
}

.NSFCA {
	background-image: url("../images/convergence_accelerator.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.Home {
	background-image: url("../images/UA-bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 40px;
	height: 550px;
}

.project-Name {
    font: 2.5em "Montserrat";
    color: white;
    white-space: nowrap;
    margin-left: 20px;
    margin-top: auto;
	
}

.intro_box {
    font-size: 20px;
    font-family: "Goudy Bookletter 1911", sans-serif;
}

.sectionTop{
	padding-top: 104px;
}

.sectionBot{
	padding-bottom: 104px;
}

.bg{
	background-color: #929292;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
	padding-top: 30px;
}

#logo_OIA {
    width: auto;
    height: 80px;
    opacity: 0.5;
    margin-right: 10px;
}


